.category-page{

min-height:100vh;
background:black;
color:white;
padding:40px;

}


.category-page h1{

text-align:center;
color:#00ffff;
margin-bottom:40px;

}



.category-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}



.category-card{

background:#111;
padding:40px;
border-radius:15px;
text-align:center;
font-size:25px;
box-shadow:0 0 15px purple;
cursor:pointer;

}


.category-card:hover{

transform:scale(1.05);

}