.details-page {
  min-height: 100vh;
  background: black;
  color: white;
  text-align: center;
  padding: 30px;
}

.details-page img {
  width: 280px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.details-page h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.details-page p {
  margin: 5px 0;
}

.desc {
  margin-top: 10px;
  opacity: 0.8;
}